@(photos: List[db.Photo], configuration: db.Config)

<link rel="stylesheet" href="https://cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
<link href="https://gitcdn.github.io/bootstrap-toggle/2.2.0/css/bootstrap-toggle.min.css" rel="stylesheet">
<script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
<script src="https://gitcdn.github.io/bootstrap-toggle/2.2.0/js/bootstrap-toggle.min.js"></script>
<script src="https://cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>

<script type="text/javascript">
    $(function() {
    $('#moderation').bootstrapToggle({
      on: 'Activée',
      off: 'Désactivée'
    });
    @if(configuration.isModeration){
    $('#moderation').bootstrapToggle('on')
    } else {
    $('#moderation').bootstrapToggle('off')
    }
    $('#moderation').change(function() {
        $.ajax({
                    url: '/togglemoderation' ,
                    type: 'GET',
                    success: function(result) {
                        location.reload();
                    }
                });
    });
  })
</script>
<div style="padding: 10px" align="right"> <b>Modération</b> <input id="moderation" type="checkbox"></div>

<div style="padding: 10px">
@if(configuration.isModeration){
    @moderated(photos)
} else {
    @nonmoderated(photos)
}
</div>
